<form action="<%= session_path %>" method="post">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  <input type="text" name="session[email]" placeholder="email"><br>
  <input type="password" name="session[password]" placeholder="password"><br>
  <input type="submit" value="Sign In!">
</form>
