<p class="post-item-small-title">
  <%= post.escape('title') %>
</p><p class="post-item-small-summary">
  <%= post.escape('summary') %>
</p><p class="post-item-link">
<a href="<%= post.escape('url') %>">Read on original site</a>
</p>
