<div class="feed-item-container">
  <div class="feed-item-title">
    <%= feed.escape('title') %>
  </div>
  <div class="feed-item-description">
    <%= feed.escape('description') %>
  </div>
  <div class="feed-item-subscribe">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  </div>
</div>
