<div class="feed-item-container">
  <div class="feed-item-title">
    <a href=""><%= feed.get('title') %></a>
  </div>
  <div class="feed-item-description">
    <%= feed.get('description') %>
  </div>
  <% if (feed.get('subscribed')) { %>
    <div class="feed-item-unsubscribe">
      <span class="glyphicon glyphicon-minus" aria-hidden="true" alt="unsubscribe"></span>
    </div>
  <% } else { %>
    <div class="feed-item-subscribe" <% if (!feed.get('loggedIn')) { %>
      data-toggle="tooltip" data-placement="top" title="Please log in to subscribe!" <% } %>>
      <span class="glyphicon glyphicon-plus" aria-hidden="true" alt="subscribe"></span>
    </div>
  <% } %>
</div>
<div class="modal-container">
</div>
