<div class="logo">
  <img src="/logo.png">
</div>

<div class="main-page-search">
  <form class="input-group input-group-lg">
    <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
    <input id="input-text" name="term" type="text" class="form-control" placeholder="Search for feeds... (try 'blog')" aria-describedby="sizing-addon1">
  </form>
  <ul class="live-search-results hidden-search">

  </ul>
</div>
