<div class="results-header clearfix">
  <h1>Explore <%= title %></h1>
  <form class="input-group input-group-xs results-page-search">
    <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
    <input name="term" type="text" class="form-control" placeholder="Search for feeds" aria-describedby="sizing-addon1">
  </form>
</div>
<div id="search-results">
</div>
